// KEY COLORS ----------------------

$bg-color: #FAFAFA;
$text-color: #282a2d;
$panthers-blue: #0053cd;
$panthers-gold:#fdf151;

// DEFAULT STYLING ------------------
html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

body {
    background: $bg-color;
}

// LAYOUT STYLING ------------------
.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    width: 80%;
}


// FONT MIXINS ----------------------
@mixin base-font($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin heading-text {   
    font-family: 'Graduate', cursive;
    color: $bg-color;
    text-transform: uppercase;
}

@mixin copy-text {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

// BOX SHADOW --------------------------
@mixin box-shadow {
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
   
}

// TYPOGRAPHY ---------------------------
.body-copy {
    @include copy-text;
    @include base-font(20);
    line-height: 2.8rem;
    margin: 0;
    letter-spacing: 1.2px;
}

.title {
    @include heading-text;
    @include base-font(120);
    margin: 0;
    text-align: center;
    text-shadow: $panthers-gold 0 0 0.2em, $panthers-gold 0 0 0.2em;        
}

.sub-title {
    @extend .title;
    @include base-font(50);
    margin: 2% 0 2% 0;
}

.intro-title {
    @include base-font(30);
    @include copy-text;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 4% 0 1% 0;
}


.button {
    @include heading-text;
    @include base-font(20);
    @include box-shadow;
    flex-shrink: 0;
    width: 50%;
    background: $panthers-blue;
    color: $panthers-gold;    
    padding: 2%;
    border: 5px solid $panthers-gold;
    border-radius: 15px;  
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
    text-align: center;   
    & a {
        text-decoration: none;
        color: $panthers-gold;
    }
}

@media (max-width: 768px) {   
    .title {
        @include base-font(100);
    }
    .sub-title {
        @include base-font(40);
    }
    .intro-title {
        @include base-font(22);
    }
    .body-copy {
        @include base-font(18);
    }
    .button {
        @include base-font(16);
    }
}

@media (max-width: 585px) {
    .title {
        @include base-font(80);
    }
    .sub-title {
        @include base-font(30);
    }
    .button {
        width: 95%;
    }
}



