// MAIN HEADER / INTRO SECTION ------------------

.header {   
    background-image: linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%), url(../assets/football-stadium.png) ;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}



.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-container {
        width: 100%;
        margin-top: 5%;
    }
    .intro {
        background: #FAFAFA;
        width: 65%;
        margin: 4% 0 6% 0;
        border-radius: 15px;
        box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
        @extend .intro;
        p {
            padding: 2% 8% 5% 8%;
            text-align: center;
            letter-spacing: 1.3px;
        } 
    }
}

@media (max-width: 768px) {
    .title-container {
        padding: 0;
    }

}

@media (max-width: 585px) {
    .title-container {
        padding-top: 15%;
    }
    .intro {
        width: 100%;
    }
}



// CTA BUTTON CSS CAN BE FOUND AT GLOBAL STYLES.SCSS PARTIAL.