

// QUOTE GENERATOR INPUTS SECTION ---------
.back-drop {
    background: linear-gradient(to bottom,rgba(255,255,255,0.8)), url(/assets/black-and-white-image-of-spectator-on-soccer-field.jpg);
    padding: 1% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-input {
    margin: 22% 0 20% 0;
    
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: space-between;
    align-items: center;

    label.body-copy {
        font-weight: bold;
        @include base-font(30);
        padding: 2% 0 9% 0;
    }

    select {
      width: 100%;
      height: 80px;
      padding: 10px;
      font-size: 1.8rem;
      text-align: center;
      @include copy-text;
      @include box-shadow;
    }


    input {
        margin: 10% 0 2% 0;
        flex-shrink: 0;
    }
}

// QUOTE GENERATOR RESULTS SECTION ------------------


.quote-wrapper {
    background: $panthers-blue;
    padding: 15% 0;
}
.quote-container {
    position: relative;
    display: block;
    height: 65vh;
    width: 100%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%), url(/assets/Coach-Taylor-Friday-Night-Lights-GIFs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include box-shadow; 
    border: 5px solid $panthers-gold;
    
    &img {
        display: block;
        width: 100%;
    }
}

.quote-block {
    position: absolute;
    width: 100%;
    top: 60%;
    border-radius: 15px;
    @include copy-text;
    @include base-font(26);
    text-align: center;
    padding: 2%;
    color: $bg-color;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.3px;
}


// FOOTER SECTION -----------------

footer {
    background: $text-color;
    height: 25vh;


        .body-copy-footer {
            @include copy-text;
            @include base-font(16);
            color: $panthers-gold;
            margin: auto;
            text-align: center;
            letter-spacing: 1.3px; 
            padding-top: 3.5%;                  
        } 
        
        i {
            font-size: 2rem;
            padding: 5px;
        }
}


.social-contacts {
    text-align: center;

    & a  {
    color: $panthers-gold;
    @include base-font(30);
    display: inline-block;           
    text-align: center; 
    padding: 25px 30px;        
    }                
}

@media(max-width: 768px) {
    form label.body-copy {
        @include base-font(20);
    }   
    .quote-block {
        @include base-font(20);
    }
}


@media(max-width: 585px) {
    .quote-container {
        background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.8) 80%,rgba(0,0,0,0.8) 100%), url(/assets/coach-taylor-mobile.jpg);
    }    
    .quote-block {
        @include base-font(16);
    }
    footer {
        padding: 10% 2%;

        .body-copy-footer {
            @include base-font(12);
            letter-spacing: 1px;
        }
    }    
}

@media(max-width: 480px) {
     i {
        display: none;
    }
}